.hero {
    display: grid;
    grid-template-columns: 60% 1fr;
}
.hero-img-wrapper {
    height: 100vh;
    position: relative;
}
.hero-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-img-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1));
    pointer-events: none;
}
.hero-text{
    overflow: visible;
    position: relative;
    z-index: 1;
}
h1{
    margin-top: 30vh
}
h1 span{
    font-size: clamp(3rem, 7vw, 9rem);
    color: #6b522d;
    font-family: 'Cormorant Garamond', Georgia, 'Times New Roman', serif;
}
#span-1{
    margin-left: -20%;
    color: #000;
}
#span-2{
    margin-left: 10%;
}
.hero p{
    width: 80%;
    justify-self: center;
    font-size: 1.125rem;
}
@media(max-width:768px){
    .hero{
        grid-template-columns: 33% 1fr;
    }
}
/* SPACING */
.spacing {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 200px;
}

.scroll-track {
    display: flex;
    width: max-content;
    animation: scroll 60s linear infinite;
    gap: 0;
}

.scroll-track.reverse {
    animation-direction: reverse;
}

.scroll-track span {
    white-space: nowrap;
    font-size: clamp(3.2rem, 7vw, 7.5rem);
    font-family: 'Cormorant Garamond', Georgia, 'Times New Roman', serif;
    color: #6b522d;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

/* MENU */
.menu-overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    pointer-events: none;
}
.menu-overlay.active {
    pointer-events: all;
    
}
.no-scroll {
    overflow: hidden;
    padding-right: 10px;
}
.menu-left {
    width: 50%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.7s ease;
}
.menu-overlay.active .menu-left {
    opacity: 1;
    transition: opacity 0.7s ease 0.4s;
}
.menu-left img {
    width: 101%;
    height: 101%;
    object-fit: cover;
    filter: blur(3px);
}
.menu-left .menu-left-wrapper{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateX(-25%) translateY(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.menu-left-wrapper a{
    font-size: 2rem;
    font-family: 'Cormorant Garamond', Georgia, 'Times New Roman', serif;
    transition: all 0.3s ease;
}
.menu-left-wrapper a:hover{
    color: #b16434;
}
.menu-right {
    background-color: #e5e8e2;
    height: 100%;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.6s ease;
}
.menu-overlay.active .menu-right {
    transform: translateX(0);
}
.menu-right-wrapper{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    text-align: center;
}
.menu-right-wrapper #menu-logo{
    max-width: 300px;
    margin-top: -100px;
}
.menu-icons{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 10%;
    padding-top: 10%;
}
.menu-icons img {
    max-width: 30px;
    transition: all 0.3s ease;
}
.menu-icons img:hover{
    transform: scale(1.05);
}
@media(max-width:768px){
    .menu-right{
        display: none;
    }
    .menu-left{
        width: 100%;
    }
    .menu-left .menu-left-wrapper{
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

/* ABOUT SECTION */
.story-top{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
#s-p1{
    font-size: 1.8rem;
    font-weight: 300;
}
.story-top p{
    text-align: center;
    width: 60%;
}
h2{
    font-size: clamp(3.5rem, 8vw, 6.5rem);
}
.story-bottom{
    position: relative;
    padding: 0 30% 0 20%;
}
.timeline-years{
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.timeline-years p{
    font-size: clamp(2.5rem, 4vw, 4.5rem);
    font-family: 'Cormorant Garamond', Georgia, 'Times New Roman', serif;
    font-style: italic;
    background-color: transparent;
}
.timeline-years p.active{
    color: #b16434;
}
.timeline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 20px;
}
.timeline::before{
    position: absolute;
    content: '';
    width: 200%;
    height: 2px;
    background-color: #484644;
    z-index: 1;
    margin: 0 40px;
}
.timeline .dot{
    height: 30px;
    width: 30px;
    background-color: #484644;
    border-radius: 50%;
    z-index: 2;
    margin: 0 40px;
}
.dot.active{
    background-color: #b16434;
}
.timeline-arrows {
    position: absolute;
    top: 15%;
    right: 5%;
    height: 50px;
    display: flex;
    gap: 10px;
    text-align: center;
}
.timeline-arrows button {
    border: #000 1px solid;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.story-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-top: 50px;
    transition: transform 0.6s ease;
}
.story-img-wrapper{
    width: 30vw;
    height: 64%;
}
.story-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.story-card p{
    width: 90%;
    justify-self: center;
}
@media(max-width:768px){
    .story-img-wrapper{
        width: 55vw;
    }
    .timeline-arrows{
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        top: 10%;
    }
}

.banner{
    display: flex;
    justify-content: center;
}
.banner-img-wrapper {
    width: 90%;
    height: 300px;
    overflow: hidden;
    border-radius: 30px;
    position: relative;
}
.banner-img-wrapper img {
    width: 100%;
    height: 150%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}